<web-app>

<servlet>
<servlet-name>reg</servlet-name>
<servlet-class>Registration</servlet-class>
</servlet>

<servlet>
<servlet-name>logad</servlet-name>
<servlet-class>login_admin</servlet-class>
</servlet>

<servlet>
<servlet-name>loguser</servlet-name>
<servlet-class>login_user</servlet-class>
</servlet>

<servlet>
<servlet-name>feed</servlet-name>
<servlet-class>Feedback</servlet-class>
</servlet>

<servlet>
<servlet-name>showfeed</servlet-name>
<servlet-class>ShowFeed</servlet-class>
</servlet>

<servlet>
<servlet-name>addmovie</servlet-name>
<servlet-class>AddMovie</servlet-class>
</servlet>

<servlet>
<servlet-name>showmovie</servlet-name>
<servlet-class>ShowMovie</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>reg</servlet-name>
<url-pattern>/reg</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>logad</servlet-name>
<url-pattern>/logad</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>loguser</servlet-name>
<url-pattern>/loguser</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>feed</servlet-name>
<url-pattern>/Feed</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>showfeed</servlet-name>
<url-pattern>/showfeed</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>addmovie</servlet-name>
<url-pattern>/addmovie</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>showmovie</servlet-name>
<url-pattern>/showmovie</url-pattern>
</servlet-mapping>

</web-app>